{
    "semi": false,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "arrowParens": "always",
    "tabWidth": 2,
    "printWidth": 1000,
    "trailingComma": "none",
    "bracketSpacing": true
}